#test {
    background-image: url('../images/Enevell_2.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}


.Skipper {
    width: 300px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    float: right;
    margin-left: 10px;
}
.Izzler_tag {
    font-size: 12px;
    font-style: italic;
    text-align: right;
    margin-right: 20px;
    position: relative;
}
footer {
    text-align: center;
    font-size: 10px;
    color: #2e1e02;
    margin: 20px;
    font-style: italic;
    
}
p {
    font-family: 'metamorphous', serif;
    font-size: 16px;
    line-height: 1.6;
    color: #2e1e02;
    margin: 20px;
    font-style: italic;
}

.Enevell_map {
    width: 400px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    float: right;
    margin-left: 15px;
}


body {
    background-image: url('../images/Enevell_2.jpg'), linear-gradient(rgba(0, 0, 0, 0.7));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    margin-top: 200px;
    margin-bottom: 40px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 0;
    font-family: 'metamorphous', serif;
}

#main {
    background-image: url('../images/parchment.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #a46534;
    box-sizing: content-box;
    max-width: 100%;
}
.skipper_image_tag {
    float: right;
    text-align: right;
    
}